<div class="nav-container">

  <div class="menu-list">
    <ul class="nav nav-pills pull-right">
      <li class="<%= active_if_current(signup_path) %>">
        <%= link_to 'Sign up', signup_path %>
      </li>
      
      <li class="<%= active_if_current(signin_path) %>">
        <%= link_to 'Sign in', signin_path %>
      </li>
    </ul>
  </div>

  <div class="brand">
    <h3><%= link_to('App', root_path) %></h3>
  </div>

</div>
