<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="wrapper">

    <!-- Sidebar --> 
    <div class="sidebar">

      <div class="sidebar-banner">
        <div class="sidebar-logo">
          <a href="#"><i class="fa fa-wifi fa-2x"></i></a>
        </div>
      </div>

      <div id="sidebar-top-sec" class="sidebar-top-sec">
        <ul id="top-filters" class="top-filters">
          <li class="filter">
            <i class="fa fa-inbox fa-lg"></i>
            Inbox <span class="notification"></span>
          </li>
          <li class="filter">
            <i class="fa fa-calendar-o fa-lg"></i>
            Today <span class="notification"></span>
          </li>
          <li class="filter">
            <i class="fa fa-calendar fa-lg"></i>
            7 Days <span class="notification"></span>
          </li>
        </ul>
      </div>

      <div class="sidebar-tabs">
        <ul>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
        </ul>
      </div>

      <div class="sidebar-projects">
        <ul class="projects-list">
        </ul>
      </div>

      <div class="sidebar-projects-actions">
        <div class="add-project">
          <i class="fa fa-plus"></i><a href="#">Add Project</a>
        </div>
      </div>
      
    </div>

    <!-- Content -->
    <div id="content" class="content">

      <!-- Top bar -->
      <div id="top-bar">
        <div id="top-search-bar">
          <form>
            <span id="search-icon"><i class="fa fa-search fa-lg"></i></span><input type="text text_box" placeholder="Filter tasks" >
          </form>
        </div>
        <div id="top-icons">
          <a href="#"><span class="top-icon add-task-icon"> <i class="fa fa-plus fa-lg"></i> </span> </a>
          <a href="#"><span class="top-icon add-options-icon"> <i class="fa fa-cog fa-lg"></i> </span> </a>
        </div>
      </div>

      <!-- Main content template -->
      <%= yield %> 
      
      
    </div>
  </div> 
  
  
</body>
</html>
