<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="dashboard-wrapper">

    <!-- Sidebar --> 
    <div class="sidebar-wrapper">

      <div class="sidebar-banner">
        <div class="sidebar-logo">
          <a href="#" class="sidebar-logo-icon"></a>
        </div>
      </div>

      <div class="sidebar-top-section">
        <ul class="sidebar-top-filters">
          <li class="inbox-filter">
            <a href="#">Inbox</a>
          </li>
          <li class="today-filter">
            <a href="#">Today</a>
          </li>
          <li class="seven-days-filter">
            <a href="#">7 Days</a>
          </li>
        </ul>
      </div>

      <div class="sidebar-tabs-section">
        <ul>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
        </ul>
      </div>

      <div class="sidebar-projects">
        <ul class="projects-list">
        </ul>
      </div>

      <div class="sidebar-actions-section">
        <div class="add-project">
          <span class="action-icon"> <i class="fa fa-plus"></i> </span><a href="#" id="add-project-btn">Add Project</a>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">

      <!-- Top bar -->
      <div class="content-top-bar">
        <div class="top-search-bar">        
          <form id="task-filter-form" class="task-filter-form">
            <input type="text text_box" placeholder="Filter tasks" >
          </form>
        </div>

        <div class="top-icons">
          <a href="#" id="add-task-btn" class="add-task"></a>
          <a href="#" id="options-btn" class="options"></a>
        </div>
      </div>

      <!-- Main content template -->
      <%= yield %> 
    </div>
  </div> 
  
  <%= render 'layouts/add_task_modal' %>

  <script id="add-project-form" type=text/html>
    <%= render 'layouts/new_project_form' %>
  </script>
  
</body>
</html>
