<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="dashboard-wrapper">

    <!-- Sidebar --> 
    <div class="sidebar-wrapper">

      <div class="sidebar-banner">
        <div class="sidebar-logo">
          <a href="#" class="sidebar-logo-icon"></a>
        </div>
      </div>

      <div class="sidebar-top-section">
        <ul class="sidebar-top-filters">
          <li class="filter">
            <span class="filter-icon"> <i class="fa fa-inbox fa-lg"></i> </span> 
            Inbox <span class="notification"></span>
          </li>
          <li class="filter">
            <span class="filter-icon"> <i class="fa fa-calendar-o fa-lg"></i> </span>
            Today <span class="notification"></span>
          </li>
          <li class="filter">
            <span class="filter-icon"> <i class="fa fa-calendar fa-lg"></i> </span>
            7 Days <span class="notification"></span>
          </li>
        </ul>
      </div>

      <div class="sidebar-tabs-section">
        <ul>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
          <li><a href="www.google.com"><span>Projects</span></a></li>
        </ul>
      </div>

      <div class="sidebar-projects">
        <ul class="projects-list">
        </ul>
      </div>

      <div class="sidebar-actions-section">
        <div class="add-project">
          <span class="action-icon"> <i class="fa fa-plus"></i> </span><a href="#">Add Project</a>
        </div>
      </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">

      <!-- Top bar -->
      <div class="content-top-bar">
        <form id="task-filter-form" class="top-search-bar">
          <span class="search-icon"><i class="fa fa-search fa-lg"></i></span><input type="text text_box" placeholder="Filter tasks" >
        </form>

        <div class="top-icons">
          <a href="#"><span class="top-icon add-task-icon"> <i class="fa fa-plus fa-lg"></i> </span> </a>
          <a href="#"><span class="top-icon add-options-icon"> <i class="fa fa-cog fa-lg"></i> </span> </a>
        </div>
      </div>

      <!-- Main content template -->
      <%= yield %> 
    </div>
  </div> 
  
  
</body>
</html>
